# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
!liballoc431.a
*.lib

# Executables
*.exe
*.out
*.app

lock_free_stack_correctness
lock_free_stack_throughput

non_blocking_queue_correctness
non_blocking_queue_throughput

one_lock_queue_correctness
one_lock_queue_throughput
one_lock_stack_correctness
one_lock_stack_throughput

two_lock_queue_correctness
two_lock_queue_throughput